<div class="rockets--grid">
    <app-rocket [Rocket]="Rocket" *ngFor="let Rocket of rockets" (showRocket)="onShowDetail($event)"></app-rocket>
</div>
<!-- <p>{{ statusDetail}}</p> -->

<div class="rocket--detail" [class.active]="showRocketDetail">

    <button class="btn rocket--close" (click)="toogleRocketDetail()">
        Cerrar
    </button>

    <div class="detail--text" *ngIf="!changeView; else updateContent">
        <div class="rocket--img">
            <swiper [slidesPerView]="1">
                <ng-template swiperSlide *ngFor="let img of Rocket.flickr_images">
                    <img [src]="img" [alt]="Rocket.name">
                </ng-template>
            </swiper>
        </div>
        <div>
            <h3 class="rocket--name">{{Rocket.name}}</h3>
        </div>
        <p class="rocket--country">{{Rocket.country}}</p>
        <p class="rocket--description">{{Rocket.description}}</p>
        <p class="rocket-height">Altura: {{Rocket.height}}</p>
        <div class="detail--buttons">
            <button class="btn btn--edit" (click)="onChangeView()">
                Editar
            </button>
            <button class="btn btn--delete"> <!-- (click)="deleteRocket()" -->
                Eliminar
            </button>
        </div>
    </div>
    <ng-template #updateContent>
      <!--   <div class="contentInputs"> -->
        <input type="text" [(ngModel)]="Rocket.name">
        <input type="text" [(ngModel)]="Rocket.country">
        <textarea rows="5" cols="30" [(ngModel)]="Rocket.description"></textarea>
        <input type="number" [(ngModel)]="Rocket.height">
        <!-- </div> -->
        <div class="detail--buttons">
            <button class="btn" (click)="backNsave()">
                Regresar
            </button>
        </div>

    </ng-template>

    <!-- <div class="detail--buttons">
        <button class="btn btn--edit">
            Editar
        </button>
        <button class="btn btn--delete">
            Eliminar
        </button>
    </div> -->

    <!--     <div class="detail--text">
        <div>
            <h3 class="rocket--name">{{Rocket.name}}</h3>
        </div>
        <p class="rocket--country">{{Rocket.country}}</p>
        <p class="rocket--description">{{Rocket.description}}</p>
        <p class="rocket-height">Altura: {{Rocket.height}}</p>
    </div> -->

</div>